<% provide(:search_name) %>
<% provide(:path, root_path) %>
  <div class="row">
<!--(中略)-->
    <div class="col-md-8">
      <h3>ツイート内容の検索</h3>
      <%= render 'users/search' %>  
      <%= render 'shared/feed' %>
    </div>
  </div>