<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>管理人</h1>
    <p>
      <!--<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>-->
      <!--is a <a href="https://railstutorial.jp/#ebook">book</a> and-->
      <!--<a href="https://railstutorial.jp/#screencast">screencast</a>-->
      <!--to teach web development with-->
      <!--<a href="http://rubyonrails.org/">Ruby on Rails</a>.-->
      <!--This is the sample application for the tutorial.-->
      
      <p>氏名：金子 秀平<p>
      <p>生年月日：１９８２年７月９日<p>
      <p>出身地：愛知県豊橋市<p>
        
      <p>自己紹介<p>
      <p>豊橋市生まれの豊橋市育ち。愛知県立豊橋工業高等学校卒業後、地元企業の東洋製罐豊橋工場へ就職し<p>  
      <p>ラインオペレーターとして16年間従事する。業務改善として独学でMS Excel/Access VBAを勉強。<p>  
      <p>上司へ嘆願しシステム部へ移動し1年半従事する。<p>  
      <p>社内のDB・ネットワーク・ハードウェア等の保守管理や社内各課の要望をヒアリングしシステム開発業務を行った。<p>  
      <p>実際に作成した成果物として生産実績出力や材料照合システムなどのプログラムを作成。言語はMS Excel/Access<p>  
      <p>又、プログラミングに興味を持ちプライベートの時間を活用してプログラミングの勉強を進めている。その他にも筋トレにハマり<p>  
      <p>ジムのトレーナーの進めでコンテストに挑戦もしていたがプログラミング勉強に注力している為、現在順調にリバウンド中。<p>  
    </p>
  </body>
</html>