<% provide(:title, "リンク") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | kenko-portfolio</title>
  </head>
  <body>
    <h1>リンク</h1>
    <div class="center">
      <p><font size="5" color="##000000">管理人が通っていたジム</font></p>
      <%= link_to image_tag('ito_gym_logo.jpg',:size =>'600x300') , 'http://www.itogym.com', :target=>["_blank"] %>
      <h1></h1>
      <h1></h1>  
      <p><font size="5" color="##000000">管理人が出場したコンテスト</font></p>
      <%= link_to image_tag('best_body_j_logo.png', { :border => '0'}) , 'https://www.bestbodyjapan.com', :target=>["_blank"] %>
    </div>
  </body>
</html>