<h1>ボディメイキングコミュニティ</h1>

<p> <%= @user.name %>さん</p>

<p>
ボディメイキングコミュニティへようこそ! リンクをクリックしてアカウントを承認してください
</p>

<%= link_to "アカウント作成", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>