<h1>Sample App</h1>

<p> <%= @user.name %>さん</p>

<p>
ボディメイキングサイトへようこそ! リンクをクリックしてアカウントを作成してください:
</p>

<%= link_to "アカウント作成", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>