<!DOCTYPE html>
<html>
  <body>
  <table class="s-tbl" border="1" width="1200">
    <tr align="center">
      <td>日付</td>
      <td>曜日</td>
      <td>出社</td>
      <td>退社</td>
      <td>在社時間</td>
      <td>備考</td>
      <td>残業指示</td>
      <td>指示者</td>
    </tr>
      <% (@first_day.day...@last_day + 1 ).each do |temp_day| %>
        <tr align="center" height="70">
          <td><%= @first_day.month %>/<%= temp_day %></td>
          <td><%= @youbi [@first_day.change(day: temp_day) .wday] %></td>
          <td><input type="time" name="example" value="--:--" height="70"></td>
        </tr>
      <% end %>
  </table> 
  </body>
</html>    