<footer class="footer">
<small>
 Create by <a href="https://www.facebook.com/profile.php?id=100006742771067" target="_blank">shyuhei kaneko</a>
</small>
    <ul>
    <li><a href="/about">管理人の紹介</a></li>
    </ul>
</footer>